body {
    background: url(../img/fundo.png) repeat-x,
                url(../img/texture.jpg);
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

/* Navegação */


div#logo {
    width: 250px;
    height: 21px;
    display: block;
    float: left;
    /* border: 1px solid red; */
    padding-top: 12px;
    padding-bottom: 15px;
    margin-bottom: 25px;

}

header {
    padding: 15px 0px;
    height: 58px;

}

/* Links */

a:link, a:active, a:visited {
    color:green;/* modificar futuramente */
    text-decoration: none;
}

a:hover {
    color: orange;/* modificar futuramente */
}

nav ul {
    list-style: none;
    margin: 20px;
    margin-top: 20px;
    padding-top: 19px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 20px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;/*modificar em breve */
}


/* Principal */
#conteudo {
    width: 710px;
    float: left;
    margin-bottom: 20px;
}


img {
    border-radius: 8px;
}

section#apresentacao {
    padding: 10px;
    /*border: 1px solid red;*/
    background: #5DB9BC;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    text-align: justify;/*  texto alinhado */
}

h3{
    color: black;
    font-size: 1.2em;
    text-transform: uppercase;
    text-shadow: 2px 2px white;/*sombra na letra*/
}

h3#noty {
    background: #565656;
    color: black;
    text-shadow: none;
    padding: 6px;
    border-radius: 12px;
}

h4#forr, #bah {
    font-size: 1.2em;
    text-transform: uppercase;
    color: black;
    background: #565656;
    border-radius: 12px;
    padding: 6px;
}

p#paragrafo {
    /*text-align: center;*/
    padding: 3px 6px;
}

p#his {
    text-align: center;
}

h1 {
    color: red;
    font-family: fantasy; 
}

h2 {
    font-family: fantasy; 
}

p {
    font-size: 18px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

/* .logo { 
    width: 30px;
 } */


aside {
    width: 351px;
    float: right;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

section#capa {
    padding: auto;
}

section#caixa {
    background: #000000;
    margin-top: 7px;
    border-radius:12px;
}

section#video {
    margin-top: 7px;
    background: #2F4F4F;
    border-radius: 12px;
}

#ler {
    border-radius: 12px;
    background: blue;
    padding: 1px 9px;
    margin-left: 260px;
    margin-bottom: 10px;
}





/* Formatação de lista de notícias */


ul#lista-noticias {
    list-style: none;
}

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a p {
    font-size: 1.0em;
    color: #000;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

/* Tabela */

table {
    margin-top: 5px;
    width: 680px;
    border-collapse: separate;
    background: blue;
    border-radius: 12px;
}

th, td {
    padding: 10px;
    border-radius: 12px;
}

td {
    background: gray;
} 

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-radius: 12px;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
    background: yellow;
}

tr.alternado {
    background-color: #EFEFEF;
}

tr:hover {
    background-color: #C3E6E5;
}

.numero {
    text-align: right;
}

tr:hover {
    background-color: #991212;
}


/* Formatação de Formulários */

form {
    padding: 7px;
    background: #000000;
    border-radius: 12px;
}

label { 
    background: #565656;
    border-radius: 12px;
    padding-left: 3px;
    text-transform: uppercase;
    display: block;
    cursor: pointer; 
}

input {
    padding: 5px;
    /*width: 125px;*/
    font-size: 1.0em;
    background-color: #fff;
    border-radius: 12px;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 3px solid #870529;
}

/* Rodapé */

footer {
    clear: both;
    padding: 15px 0 29px 0;
    text-align: center;
    border-radius: 12px;
    width: auto;/* <-- início da animation */
    height: 70px;
    background-color: black;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;  

}

/*Animation*/
@keyframes example {
    0% {background-color: #1E90FF;}
    25% {background-color: #00BFFF;}
    50% {background-color: #87CEEB;}
    100% {background-color: #87CEFA;}
}


footer>p a {
    padding: 3px 10px;
}
